@import "variables";
@import "mixins";

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

html,
body,
#__next,
.dark,
.light {
  min-height: 100vh;
}

#main-container {
  min-height: 74vh;
}

.fb_iframe_widget_fluid_desktop iframe {
  width: 100% !important;
}
.inlineBlock {
  display: inline-block !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";

  line-height: 26px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  @include for-desktop {
    max-width: 948px;
  }

  @include for-md-desktop {
    max-width: 1140px;
  }

  @include for-lg-desktop {
    max-width: 1140px;
  }
}

.mobile-header {
  .center-section {
    img {
      @include for-mobile {
        width: 100% !important;
        height: auto !important;
        line-height: 30px !important;
        max-width: 100px;
      }
    }
  }
}
#main-wrapper {
  @include for-mobile {
    padding: 70px 0px 0px 0px;
  }

  @include for-lg-mobile-over {
    padding: 30px 0px 15px 0px;
  }

  .main-box {
    &.main-content {
      &.post-content {
        .related-post-section {
          font-size: 18px;

          @include for-desktop {
            width: 500px;
            margin: 0 auto;
          }

          @include for-md-desktop {
            width: 700px;
            margin: 0 auto;
          }

          @include for-mobile {
            h2 {
              margin-left: 10px;
            }
          }

          .related-post-wrapper {
            display: flex;

            @include for-mobile {
              flex-direction: column;
            }
          }
          .related-post-item {
            width: 31.3%;

            @include for-desktop {
              margin-left: 1%;
              margin-right: 1%;
            }

            a {
              @include for-desktop {
                display: block;
              }

              @include for-mobile {
                display: flex;
              }
            }

            img {
              width: 100%;
              object-fit: cover;
              object-position: center;
              height: 130px;

              @include for-mobile {
                height: 80px;
              }
            }
            p {
              margin-top: 10px;

              @include for-mobile {
                margin-top: 0px;
              }
            }

            @include for-mobile {
              display: flex;
              width: 100%;
              padding-left: 10px;
              padding-bottom: 10px;
              padding-right: 10px;

              img {
                width: 120px;
              }

              p {
                margin-left: 10px;
              }
            }
          }
        }
        .entry-header {
          @include for-mobile {
            margin-top: 15px;
          }

          @include for-desktop {
            margin-top: 30px;
          }
        }
        .entry-title {
          @include for-xs-mobile {
            font-size: 18px;
          }
          @include for-lg-mobile {
            font-size: 25px;
          }
          @include for-mobile {
            width: 100%;
          }
          @include for-desktop {
            width: 500px;
          }

          @include for-md-desktop {
            width: 700px;
          }
        }

        .entry-content {
          img {
            opacity: 0;

            &.show {
              transition: opacity 0.3s;
              -webkit-transition: opacity 0.3s;
              opacity: 1;
            }
          }
        }

        img {
          @include for-mobile {
            width: 100%;
          }
        }

        .meta-image {
          img {
            @include for-desktop {
              height: 250px;
            }

            @include for-desktop {
              height: 350px;
            }
          }
        }

        article {
          @include for-mobile {
            padding: 10px;
          }
        }

        .entry-content {
          h2 {
            margin: 25px 0px 15px 0px;

            @include for-mobile {
              margin: 15px 0px;
            }
          }

          a {
            color: #0d6efd;
          }
        }

        .entry-content,
        .tags-area,
        .author-area,
        .pagination-area,
        .share-items-wrapper,
        .comment-wrapper {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          line-height: 180%;

          @include for-mobile {
            width: 100%;
            margin: 15px auto;
            padding: 0px 10px;
          }
          @include for-desktop {
            width: 500px;
            margin: 30px auto;
          }

          @include for-md-desktop {
            width: 700px;
            margin: 30px auto;
          }
        }

        .tags-area,
        .entry-content,
        .pagination-area {
          @include for-mobile {
            padding: 0px;
          }
        }

        .author-area {
          @include for-mobile {
            margin-bottom: 0px;
            padding: 0px;
          }
        }

        .comment-wrapper {
          @include for-mobile {
            margin-bottom: 0px;
          }
        }

        .pagination-area {
          div {
            text-align: left;
          }
          ul {
            padding-left: 0px;
            li {
              margin: 0px 5px;
              &:first-child {
                margin-left: 0px !important;
              }
              &:last-child {
                margin-right: 0px !important;
              }
              &:first-child,
              &:last-child {
                display: none;
              }
            }
          }
        }
      }
      @include for-mobile {
        width: 100%;
        margin-right: 0;
      }

      @include for-lg-mobile {
        width: 100%;
        margin-right: 0;
      }

      @include for-xs-mobile {
        width: 100%;
        margin-right: 0;
      }

      @include for-desktop {
        width: 72%;
        margin-right: 3%;
      }

      @include for-md-desktop {
        width: 72%;
        margin-right: 3%;
      }

      @include for-lg-desktop {
        width: 72%;
        margin-right: 3%;
      }

      .main-box-inside {
        @include for-mobile {
          padding: 10px 2% 0;
        }
        @include for-lg-mobile {
          padding: 0;
        }
        @include for-xs-mobile {
          padding: 0;
        }
        @include for-desktop {
          padding: 10px 2% 0;
        }

        @include for-md-desktop {
          padding: 20px 2% 0;
        }

        @include for-lg-desktop {
          padding: 20px 2% 0;
        }

        article {
          @include for-mobile {
            width: 100%;
          }
          @include for-lg-mobile {
            width: 100%;
          }
          @include for-xs-mobile {
            width: 100%;
          }

          @include for-desktop {
            width: 48%;
          }

          @include for-md-desktop {
            width: 48%;
          }

          @include for-lg-desktop {
            width: 48.5%;
          }
        }

        @include for-mobile {
          article {
            display: flex !important;
            flex-direction: row;
            padding-bottom: 0px !important;
            border-bottom: 1px solid #ddd;
            padding: 10px !important;
            margin-bottom: 0px !important;

            .entry-header {
              .meta-category {
                a {
                  font-weight: normal !important;
                  text-transform: uppercase;
                }
              }

              .entry-date {
                padding-right: 0px !important;
                font-size: 14px !important;
              }
              .entry-title {
                padding: 0px 0px 0px 15px !important;
                margin-bottom: 0px;
                font-weight: normal !important;
                font-size: 14px !important;
                a {
                  display: block;
                }
              }
            }

            .meta-image {
              margin-bottom: 0px !important;

              img {
                width: 80px !important;
                height: 80px !important;
              }
            }

            header {
              flex: 1;
            }
          }
        }
      }
    }
  }

  .sidebar-section {
    @include for-desktop {
      position: relative;
      padding-right: 0px;
      padding-left: 0px;
    }

    @include for-desktop-only {
      width: 25%;
    }

    @include for-mobile {
      width: 100%;
    }

    .sidebar {
      @include for-desktop {
        height: 100%;
      }

      .vce-sticky {
        @include for-desktop {
          position: sticky;
          padding: 0;
          top: 0;
        }

        @include for-mobile {
          display: none;
        }
      }
    }
  }
}

#footer {
  @include for-desktop-only {
    text-align: center;
    .site-footer {
      float: none;
    }
    .site-info {
      .vce-wrap-left,
      .vce-wrap-right > ul {
        float: none;
        padding: 0;
      }

      .vce-wrap-right {
        li {
          float: none;
          display: inline-block;
        }
      }
    }
  }

  @include for-md-desktop {
    .site-footer {
      float: left;
    }
    .site-info {
      height: 65px;
      width: 100%;

      .container {
        line-height: 32.5px;
      }

      .vce-wrap-left {
        float: left;
      }
      .vce-wrap-right > ul {
        float: right;
      }

      .vce-wrap-right {
        li {
          float: left;
        }
      }
    }
  }
}

.sidebar-menus-wrapper {
  position: relative;

  .sidebar-background {
    width: 100%;
    height: 100vh;

    position: fixed;
    z-index: 1000;
    left: -100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &.is_stuck {
      left: 0;
    }
  }
  .sidebar-menus {
    background-color: $white;

    width: 250px;
    height: 100vh;
    margin-top: 50px;
    border-right: 1px solid $black;

    &:hover {
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0px 10px;
        line-height: 43px;

        a {
          display: block;
          font-size: 15px;
        }

        &:hover {
          a {
            color: $brandYellow;
          }
        }
      }
    }
  }
}

#header {
  .mobile-header {
    background-color: $white;
    position: fixed;
    z-index: 10000;
    line-height: 50px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #b9b9b9;
    padding: 0px;

    .left-section,
    .right-section {
      text-align: center;
      display: block;

      &:hover {
        cursor: pointer;
      }
      i {
        color: $brandYellow;
      }
    }
    .left-section {
      width: 100px;
      text-align: left;
      padding-left: 15px;
    }
    .right-section {
      width: 100px;
      .section-detail {
        display: inline-block;
        margin: 0px 10px;
      }
    }
  }
  .top-header {
    background-color: #3a3a3a;
    color: $white;
    line-height: 19px;
    height: 40px;

    .f-left {
      float: left;
    }

    .f-right {
      ul {
        float: right;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      &.soc-nav-menu {
        li {
          &.theme-switcher {
            a {
              &:hover {
                cursor: pointer;
              }
            }
          }
          a {
            width: 40px;
            height: 40px;
            display: block;
            text-align: center;
            line-height: 40px;
            padding: 0px 8px;
            font-size: 14px;
          }
        }
      }

      li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0 10px 0 0;

        a {
          font-size: 13px;
          line-height: 40px;
          color: $white;
        }
      }
    }
  }
  .header-wrapper {
    background-color: $white;
    height: 80px;
    .site-brand {
      height: 80px;
      line-height: 80px;

      img {
        width: 200px;
        height: auto;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .header-bottom-wrapper {
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%);
    background: #fcfcfc;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        font-size: 16px;

        &:first-child {
          a {
            box-shadow: -1px 0 0 0 rgb(0 0 0 / 5%), 1px 0 0 0 rgb(0 0 0 / 5%);
          }
        }
        &.current-item {
          a {
            box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
            background-color: $white;
            color: $brandYellow;
            font-weight: 700;
          }
        }

        a {
          box-shadow: 1px 0 0 0 rgb(0 0 0 / 5%);
          display: block;
          font-size: 16px;
          line-height: 20px;
          padding: 15px;
          font-weight: 700;

          &:hover {
            box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
            background-color: $white;
            color: $brandYellow;
            font-weight: 700;
          }
        }
      }
    }
  }
}

#main-wrapper {
  .main-box {
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);

    &.main-content {
      //   margin-right: 30px;
      padding: 0px;

      .main-box-inside {
        display: block;
        height: auto;
        overflow: hidden;

        .ads-unit {
          width: 100%;
          margin: 0;
          float: left;
          .container {
            margin-top: 0px !important;
          }
        }

        article {
          float: left;
          background-color: $white;
          box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
          padding-bottom: 15px;
          display: block;

          &:nth-of-type(1n) {
            margin: 0 20px 20px 0;
          }

          &:nth-of-type(2n) {
            margin: 0 0 20px;
          }

          .meta-image {
            margin-bottom: 12px;

            a {
              display: block;
            }
            img {
              width: 100%;
              height: 210px;
              object-fit: cover;
              object-position: center;
            }
            #preload_background {
              width: auto;
              height: 195px;
              background-color: #efefef;
            }
          }

          .entry-header {
            .meta-category {
              display: inline-block;
              text-align: left;
              padding: 0px 15px;

              @include for-xs-mobile {
                padding: 0px 0px 0px 15px !important;
              }

              a {
                font-weight: 700;
                color: $brandYellow;
                text-transform: uppercase;
              }
            }

            .entry-date {
              float: right;
              padding: 0 15px;
              color: #d6d6d6;
            }

            .entry-title {
              padding: 10px 15px 5px 15px;
              line-height: 24px;
              color: #232323;
              font-size: 18px;
              font-weight: 900;
              a,
              a:hover {
                color: #232323;
              }
            }
          }
        }
      }

      &.post-content {
        .entry-header {
          text-align: center;

          @include for-mobile {
            text-align: left;
          }

          .meta-category {
            a,
            a:hover {
              text-transform: uppercase;
              font-weight: 700;
              color: $brandYellow;
            }
          }

          .entry-title {
            margin: 0 auto 15px;
            text-align: left;
            font-size: 2rem;

            @include for-mobile {
              font-size: 1.2rem;
              font-weight: bold;
            }
          }
          .entry-date {
            @include for-mobile {
              margin-bottom: 10px;
            }
          }
        }

        .meta-image {
          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

.pagination-wrapper {
  .MuiPagination-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;

    li {
      display: inline-block;
      @include for-desktop {
        margin: 0px 5px;
      }

      button {
        width: 40px;
        height: 40px;
        padding: 0px;
        border-radius: 0;

        &.Mui-selected,
        &:hover {
          background-color: $brandYellow;
          border-color: $brandYellow;
          color: $white;
        }

        svg {
          width: 20px;
          height: 20px;
          line-height: 30px;
        }
      }
    }
  }
}

.sidebar {
  padding: 0px;

  .vce-sticky {
    transition: top 0.2s ease;

    &.is_stuck {
      position: fixed;
      width: 300px;
      top: 30px;
    }

    .widget {
      background: #f9f9f9;
      font-size: 14px;
      line-height: 22px;
      margin: 0px 0px 20px 0px !important;
      color: #444444;

      .textwidget {
        padding: 20px;

        #widget_upper {
          span {
            color: "$brandYellow";
          }
        }

        #widget_upper,
        #widget_social,
        #widget_copyright {
          text-align: center;
        }

        #widget_social {
          margin: 10px 0px;

          a {
            background-color: #ddd;
            padding: 5px 3px;
            border-radius: 50px;
            color: $white;
            font-size: 20px;
            margin: 4px;
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
          }
        }

        #widget_upper a,
        #widget_copyright {
          color: #969696 !important;
        }

        #widget_copyright {
          p {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.footer-categories-wrapper {
  margin-top: 25px;

  @include for-mobile {
    display: none;
  }

  .center-categories {
    margin: 0px 0px 30px 0px;
    text-align: center;

    .list-unstyled {
      margin: 0;
      padding: 0;
    }

    .list-tag > li {
      display: inline-block;
      vertical-align: middle;
      margin: 6px;

      a {
        display: block;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid #252525;
        padding: 4px 12px;
        color: #333;
        text-decoration: none !important;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        &:hover {
          background-color: $brandYellow;
          border-color: $brandYellow;
          color: $white;
        }
      }
    }
  }
}

.author-area {
  a,
  a:hover {
    color: $brandYellow;
  }
}
.post-tags > span {
  background: #eeeeee;
  color: $black;
  font-size: 18px;
  padding: 3px 6px;
  margin-right: 5px;
}
.post-tags {
  a {
    color: #626262;
    padding: 4px;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 15px;
    margin: 2px;
  }
}

#footer {
  display: block;

  &.site-footer {
    padding: 0;
    background: #373941;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    width: 100%;

    .site-info {
      color: rgba(249, 249, 249, 0.7);
      background: $brandBlue;
      padding: 15px 0;

      a,
      a:hover {
        color: #fff;
      }

      .bottom-nav-menu li {
        list-style: none;
        position: relative;
        margin: 0 10px 0 0;
      }
    }
  }
}

body {
  &.light,
  .light {
    background-color: #f0f0f0;
    color: #444444;

    #header {
      .sidebar-menus-wrapper {
        .sidebar-menus {
          ul {
            li {
              a {
                color: #444444 !important;
              }
            }
          }
        }
      }
    }

    .related-post-item {
      a {
        &:hover {
          color: #000;
        }
      }
    }
  }

  &.dark,
  .dark {
    background-color: #141414;
    color: $white;

    #header {
      .sidebar-menus-wrapper {
        .sidebar-menus {
          background-color: $black;
          border-right: 1px solid #434141;
          ul {
            li {
              border-bottom: 1px solid #434141;
              a {
                color: $white !important;
              }
            }
          }
        }
      }
      .header-wrapper {
        background-color: $black;
      }
      .header-bottom-wrapper {
        box-shadow: inset 0 1px 3px #565555;
        background-color: $black;

        a {
          color: $white;
        }

        ul {
          li {
            &.current-item {
              a {
                background-color: #3a3a3a;
              }
            }

            a {
              &:hover {
                background-color: #3a3a3a;
              }
            }
          }
        }
      }
      .mobile-header {
        background-color: #141414;
        border-bottom: 1px solid #565555;
      }
    }
    #main-wrapper {
      .main-box {
        border: 1px solid #3c3c3c;
        background-color: $black;

        &.main-content {
          .main-box-inside {
            article {
              background-color: $black;
              @include for-desktop {
                border: 1px solid #3c3c3c;
              }

              @include for-mobile {
                border-bottom: 1px solid #3c3c3c;
              }

              .entry-header {
                .entry-date {
                  color: $white !important;
                }
                .entry-title {
                  a {
                    color: $white !important;
                  }
                }
              }
            }
          }
        }

        .tags-area {
          .post-tags {
            a {
              color: $white;
            }
          }
        }
        .comment-wrapper {
          background-color: #f0f0f0;
        }
      }

      .footer-categories-wrapper {
        .center-categories {
          .list-tag > li a {
            border: 1px solid $white;
            color: $white;
          }
        }
      }
    }

    .related-post-item {
      a {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#copyRightFooter {
  br {
    display: none;

    @include for-mobile {
      display: block;
    }
  }
}

// #nprogress {
//   .spinner-icon {
//     border-top-color: #ffbb00;
//     border-left-color: #ffbb00;
//   }

//   .bar {
//     background: #ffbb00 !important;
//   }

//   .peg {
//     box-shadow: 0 0 20px #ffbb00, 0 0 50px #ffbb00;
//   }
// }
