@import "variables";
@import "mixins";

.PaginationSection {
  text-align: center;
  margin: 30px 0px;

  @include for-mobile {
    margin: 0px 0px 15px 0px;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0px;

    @include for-mobile {
      padding: 0px;
    }

    li {
      display: inline-block;
      margin: 0px 10px;

      @include for-mobile {
        margin: 0px 2px;
      }

      a {
        background-color: #f6f9fc;
        border: 1px solid #000;
        text-decoration: none;
        display: block;
        padding: 5px 15px;
        color: #000;

        @include for-mobile {
          padding: 5px 12px;
        }

        &:hover {
          cursor: pointer;
        }

        &.active,
        &:hover {
          background-color: #eaab00 !important;
          border-color: #eaab00 !important;
          color: $white !important;
        }

        &[disabled] {
          cursor: not-allowed;
          border-color: $softGrayBlue !important;
          background-color: #f6f9fc !important;
          color: $softGrayBlue !important;
        }
      }
    }
  }
}
